@font-face {
    font-family: cabin;
    src: url(cabin-sketch.woff);
}
@font-face {
    font-family: gabriela;
    src: url(gabriela.woff);
}

body{

}

h1{

}

h2{

}

div{

}

p{

}

div.vida{
    
}

article.futbol{

}

article.futbol h2{

}

article.futbol div.datos{

}

article.literatura{

}

article.literatura h2{

}

article.literatura div.datos{
    
}
