body{
    background-color: #00FFFF;
    color:#002BFF;
}
p{
    font-family: verdana;
    text-align: center;
}
.derecha{
    text-align: right;
    font-size: 120%;
}

.rojo{
    color: red;

}
.fondo-plata{
    background-color: #C0C0C0;
}