#text {
    width: 300px;
    background-color: yellow;
    height: 200px;
    overflow: auto;
    margin-left: 1em;
    margin-bottom: 1em;
    border: 5px dashed orange;
  }

  .important {
    font-weight: bold;
    text-decoration: underline;
  }

  .picture {
    width: 300px;
    height: 100px; 
    margin-left: 1em;
    border: 5px solid #AB6E00;
  }

  .cuadro{
    border: 2px solid red;
    margin-right:  35em;
    background-color:#FFFFE0 ;
  }

  h1{
      margin-left: 0.5em;
  }